{% load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%  static './css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>{% block title %}Autenticación 2FA  {% endblock %}</title>
</head>
<body >
    <section class="contenedor">
        <header class="header_landing">
            <section class="header__logo">
                <a href="{% url 'landingPage' %}">Instant</a>
            </section>
            
            <section class="header__buttons">
                <div class="button button_pink">
                    <a href="{% url 'login' %}">Iniciar Sesion</a>
                </div>
                <div class="button">
                    <a href="{% url 'register' %}">Registrarse</a>
                </div>
            </section>
        </header>
        <main class="contenedor_landing" >
                {% block content %}
                {% endblock %}
            
        </main>
</section>

    
</body>
</html>
